@import "tailwindcss";

@plugin "@tailwindcss/typography";

* {
  @apply antialiased;
  text-rendering: geometricPrecision;
}

::-moz-selection {
  @apply bg-neutral-600 text-white;
  -webkit-text-fill-color: white;
}

::selection {
  @apply bg-neutral-600 text-white;
  -webkit-text-fill-color: white;
}

@theme {
  --font-sans: var(--sans-font);
  --font-mono: var(--mono-font);
}

article > img:first-of-type {
  @apply scale-100 rounded-xl my-0 border-0;
}
