@tailwind base;
@tailwind components;
@tailwind utilities;

::-moz-selection {
  @apply bg-neutral-600 text-white;
  -webkit-text-fill-color: white;
}

::selection {
  @apply bg-neutral-600 text-white;
  -webkit-text-fill-color: white;
}

* {
  -webkit-font-smoothing: antialiased;
}

p:has(img) {
  opacity: 1 !important;
}

article > img:first-of-type {
  @apply scale-100 rounded-xl my-0 border-0;
}
