@tailwind base;
@tailwind components;
@tailwind utilities;

::-moz-selection {
  @apply bg-neutral-600 text-white;
  -webkit-text-fill-color: white;
}

::selection {
  @apply bg-neutral-600 text-white;
  -webkit-text-fill-color: white;
}

* {
  -webkit-font-smoothing: antialiased;
}

.MathJax {
  @apply inline-flex;
}

p > .MathJax:only-child {
  @apply flex justify-center;
}
